<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.patrick.android.hotmovie">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_duplicate"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.DetailActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.SettingActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity android:name=".ui.TrailerActivity" />

        <provider
            android:name=".db.MovieProvider"
            android:authorities="com.patrick.android.hotmovie" />

        <activity android:name=".ui.CollectActivity" />
        <activity android:name=".ui.LocalDetailActivity" />
        <activity android:name=".ui.TestActivity"></activity>
        <service android:name=".net.FetchDataService"/>
    </application>

</manifest>